/* ｺｰﾎﾟﾚｰﾄﾛｺﾞとか言う名の神フォントの導入 */
@font-face {
	font-family: 'corpo-b';
	src: url(../font/Corporate-Bold.woff);
}

@font-face {
    font-family: 'corpo-m';
	src: url(../font/Corporate-Medium.woff);
}

/* 全般設定 */
body {
    background-color: #1D1D1D;
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 60px;
    font-family: corpo-m;
}

/* ヘッダー */
header {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

/* サイトのタイトル */
.headertitle {
    font-size: 35px;
    padding: 10px 5px;
    font-family: corpo-b;
}

/* のうにくのあたま */
.headerhead {
    width: 56px;
    height: 56px;
    padding: 2px 5px;
}

/* ヘッダーDiscordアイコン */
.headerdiscord {
    width: 30px;
    padding: 18px 10px;
}

/* ヘッダーDiscordテキスト(矛盾) */
.headerdiscordtext {
    margin-left: auto;
}

/* ヘッダーに載る要素を揃える */
.headerline {
    display: flex;
    justify-content: start;
}

/* スライドショー */
.slideshow {
    height: 600px;
    /* レイアウトが分かりやすいように色を変えています */
    background-color: pink;
}

/* mainとsideを横並び */
.wrapper {
    display: flex;
    justify-content: space-between;
    height: 2000px;
}

/* メイン */
/* 運営の英語わからん（） */
.main {
    width: 70%;
    background-color: orange;
    margin-left: 30px;
    grid-template:
        "update update update" 400px
        "about1 about1 howJoin" 300px
        "video about2 about2" 300px
        "unei unei unei" 200px / 1fr 1fr 1fr
    ;
}

/* サイド */
.side {
    width: 25%;
    background-color: blue;
}

